<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>New Painting</title>
</head>
<body>

  <div class="container">
    <div class="d-flex justify-content-between">
      <h1>Add a new Painting </h1>
      <a href="/dashboard">Back to Painting</a>
      <a href="/users/logout">Log Out</a>
    </div>
    {% for message in get_flashed_messages() %}
    <p class="text-danger">{{ message }}</p>
    {% endfor %}
    <form action="/paintings/create" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" id="title">

      <label for="description">Description</label>
      <input type="text" name="description" id="description">

      <label for="price">Price</label>
      <input type="text" name="price" id="price">

    



      <button>Submit</button>

    </form>
</body>
</html>